body {color :white;
    background: black;
    margin: 0px;
    font-family: "New Amsterdam", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(170, 2, 2);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 4, 4);
}
.chamada {
    background: rgb(116, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}
.chamada-texto {
    margin-right: 5%S;
}
h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  
  .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
.categoria{
    padding-left:20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .categoria-videos img {
      opacity: 0.4;
      height: 200px;    
  }

  .categoria-videos img:hover{
     opacity: 1.0;
     border: 1px solid yellow;

  }

  .categoria h2 {
    color: rgb(255 238 4);

  }